body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #111;
    color: white;
    padding: 20px;
}

.logo {
    width: 80px;
}

.upload-box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px #aaa;
}

#poster {
    background: white;
    width: 90%;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px #999;
}

#productImage {
    width: 100%;
    border-radius: 10px;
}

footer {
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
